<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Study</title>
  </head>
  <body>
    <p>Attributes provide additional information about HTML elements(cung cấp thuộc tính bổ sung).</p>
    <p>HTML elements are represented by tags(thẻ biểu diễn các phần tử trong html)</p>
    <a href="google.com">Google</a> <!-- defines a hyperlink-->
    <br> <!-- defines a single line break-->
    <img src="https://goo.gl/HBCk7K" alt=""> <!-- thẻ hình ảnh-->
    <div class="study">

    </div>
    <table>
  <tr>   <!-- xác định từng hàng-->
    <th>Month</th> <!-- tiêu đề-->
    <th>Savings</th>
  </tr>
  <tr>
    <td>January</td>   <!-- dữ liệu trong ô <th> tương ứng-->
    <td>$100</td>
  </tr>

</table>

  <ul>
    <!--bắt đầu 1 list theo thứ tự-->
    <li> nội dung của list đó</li>
  </ul>

  ​<style>
  div {
      margin-top: 100px;
      margin-bottom: 100px;
      margin-right: 150px;
      margin-left: 80px;

  }
  div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
  </style>



  </body>
</html>
