<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>admin</title>
    <link rel="stylesheet" href="/static/css/styles.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
    <!-- Navbar -->
    <!-- Page content -->
    <div class="container">
      <a href="/add_girl">
        <button class="btn  btn-sm float-right btn-primary mb-2 mt-2">Thêm</button>
      </a>

      <table class="table table-bordered ">
        <!-- table head -->
        <thead class="table-dark ">
          <tr class="row text-center">
            <th class="col-md-1">#</th>
            <th class="col-md-1">Thao tác</th>
            <th class="col-md-2">Họ và tên</th>
            <th class="col-md-7">Đặc điểm</th>
            <th class="col-md-1">Ảnh</th>

          </tr>
        </thead>

      <!-- Table body -->
      <tbody>
      {% for girl in girls %}

        <tr class="row text-center">
          <td class="col-md-1 text-center">{{loop.index}}</td>
          <td class="col-md-1 text-center">
            <span>
              <a href="/delete_girl/{{girl.id}}">
              <i class="fa fa-trash " aria-hidden="true"></i>
              </a>
            </span>
            <span>
              <a href="/update_girl/{{girl.id}}">
              <i class="fa fa-pencil " aria-hidden="true"></i>
              </a>
            </span>
          </td>
          <td  class="col-md-2">{{ girl.name }}</td>
          <td class="col-md-7">{{ girl.description }}</td>
          <td class="col-md-1">
            <a href="{{ girl.image}}">Xem ảnh</a>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>

</div>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <!-- Footer -->
  </body>
</html>
